<div class="register-box">
  <div class="register-logo">
    <a href="/admin"><b>Admin</b></a>
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">Register a new membership</p>

      <form action="/auth/register" method="POST" enctype="multipart/form-data">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Логин"
            name="login"
            id="login"
            required
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Имя"
            name="name"
            id="name"
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="Пароль"
            required
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input
            type="file"
            class="form-control"
            name="avatar"
            id="avatar"
            placeholder="Аватар"
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user-circle"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <button
              type="submit"
              class="btn btn-primary btn-block"
            >Register</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <a href="/auth/login" class="text-center">I already have a membership</a>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->