<div class="content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-primary">

          <!-- form start -->
          <form action="/admin/categories/add" method="POST" enctype="multipart/form-data">
            <div class="card-body">
              <div class="form-group">
                <label for="name">Category name</label>
                <input type="text" class="form-control" id="name" placeholder="Category name" name="name" />
              </div>
              <div class="form-group">
                <label for="discription">Discription</label>
                <input type="text" class="form-control" id="discription" placeholder="Discription" name="discription" />
              </div>
              <div class="form-group">
                <label for="img">Category img</label>
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="img" name="img" />
                    <label class="custom-file-label" for="img">Choose file</label>
                  </div>

                </div>
              </div>

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Create</button>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</div>