<h1>Hello categories</h1>
{{#if categories.length}}
  <div class="row">
    {{#each categories}}
      <div class="col-sm-3">
        <div class="card">
          <img src="/images/{{img}}" class="card-img-top" alt="{{name}}" />
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <h2>Categories is empty</h2>
{{/if}}