<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2>{{header}}</h2>
            </div>
        </div>
    </div>
</div>