<!DOCTYPE html>
<html lang="en">
{{> head}}
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
    {{> preloader}}
    {{> navbar}}
    {{> aside}}
    <div class="content-wrapper">
    {{> contentHeader}}
    {{{body}}}
    </div>
    {{> footer}}
    {{> scripts}}
    </div>
</body>
</html>