<html lang="en">
{{> head}}
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      {{> navbar}}
      {{> aside}}
      <div class="content-wrapper">
        {{> contentHeader}}
      {{{body}}}

      </div>
      {{> footer}}
    </div>

    {{> script}}
  </body>
</html>