<!DOCTYPE html>
<html lang="en">
{{> head}}

<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
    {{> preloader}}

    {{> navbar}}
    {{#if isAuthen}}
    {{> aside}}
    {{/if}}

    <div class="content-wrapper">
      {{> header}}
      <div class="content">
        {{{body}}}
      </div>
    </div>
    {{> footer}}
  </div>

  {{> script}}
</body>

</html>